/* Vector */

position: absolute;
left: 3.3%;
right: 87.75%;
top: 12.53%;
bottom: 82.75%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 3.29%;
right: 87.73%;
top: 12.47%;
bottom: 83.17%;

background: #263238;


/* Vector */

position: absolute;
left: 4.34%;
right: 95.57%;
top: 13.79%;
bottom: 86%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 3%;
right: 95.76%;
top: 10.8%;
bottom: 86.44%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 5.39%;
right: 94.56%;
top: 13.2%;
bottom: 86.63%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 5.03%;
right: 94.67%;
top: 12.09%;
bottom: 86.98%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 10.58%;
right: 88.77%;
top: 10.65%;
bottom: 87.24%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 11.31%;
right: 88.61%;
top: 10.13%;
bottom: 89.61%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 11.61%;
right: 88.25%;
top: 12.72%;
bottom: 87.08%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 11.9%;
right: 87.33%;
top: 11.39%;
bottom: 87.49%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 4.82%;
right: 94.65%;
top: 13.48%;
bottom: 85.16%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 10.76%;
right: 88.65%;
top: 12.64%;
bottom: 86.31%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 7.61%;
right: 92.25%;
top: 12.64%;
bottom: 86.42%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 5.76%;
right: 88.74%;
top: 2.9%;
bottom: 88.02%;

border: 1px solid #263238;


/* Vector */

position: absolute;
left: 2.86%;
right: 90.41%;
top: 7.47%;
bottom: 83.06%;

border: 1px solid #263238;
transform: matrix(0.71, -0.66, 0.76, 0.71, 0, 0);