body {
    background-color: rgba(30, 30, 30, 1);

}
.container-fluid {position: absolute;
width: 911px;
height: 111px;
left: 465px;
top: 65px;

background: linear-gradient(270deg, #2F2841 0%, rgba(47, 40, 65, 0) 100%);
border-radius: 20px;

}