body{
	margin: 0;
}

body * {
  box-sizing: border-box;
  margin: 0;
}

.main-login{
	width: 100vw;
	height: 100vh;
	background-color: #201b2c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-left{
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* .logo > h1{
	color: #77ffc0;
	font-family: Times-New-Roman;
	font-size: 30px;
	float: auto;
	background-color: #2f2841;
	border-radius: 50px;
	box-shadow: 10px 0px 100px #00000056;
	padding: 15px 20px 15px 50px;
	position: relative;
	top: 80px;
	left: 90px;	
}

.imagem-logo{
	float: auto;
	width: 10vw;
	position: relative;
	top: -40px;
	background-color: #2f2841;
	border-radius: 100px;
	box-shadow: 10px 0px 100px #00000056;
	left: -70px;
	display: flex;
} */

.imagem-login{
	float: auto;
	width: 30vw;
	position: relative;
	top: 50px;
	
}

.login-right{
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-card{
	width: 55%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 35px;
	background-color: #2f2841;
	border-radius: 20px;
	box-shadow: 0px 10px 100px #00000056;
	position: relative;
	top: 50px;
	right: 100px;
}

.titulo-login{
	color: #00ff88;
	font-weight: 800;
	margin: 0;
}

.textfield-login{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 10px 0px;
}

.textfield-login > input{
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background-color: #2F2841;
	color: #ffffff;
	font-size: 12pt;
	box-shadow: 0px 5px 80px #000000;
	outline: none;
	box-sizing: border-box;
}

.textfield-login > label{
	color: #ffffff;
	margin-bottom: 10px;
}

.textfield-login > input::placeholder{
	 color: #ffffff;
}

.btn-login{
	width: 100%;
	border: none;
	border-radius: 10px;
	margin: 25px;
	padding: 15px 30px;
	background-color: #00ff88;
	position: relative;
	left: -22px;
	top: 50px;
	cursor: pointer;
	box-shadow: 0px 5px 15px #000000;

}
.btn-newuser{
	width: 60%;
	border: none;
	border-radius: 10px;
	margin: 25px;
	padding: 15px 30px;
	background-color: #00ff88;
	position: relative;
	left: 90px;
	top: -80px;
	cursor: pointer;
	box-shadow: 0px 5px 15px #000000;
}
.modal{
	width: 400px;
	height: 535px;
	background-color: #2f2841;
	border-radius: 20px;
	position: relative;
	top: 42px;
	left: -90px;
	display: flex;
	padding: 5px 10px 15px 10px;
}
.modal-content{
	background-color: #2f2841;
}
.form-control-cadastro{
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 10px;
	background-color: #2F2841;
	color: #ffffff;
	font-size: 12pt;
	box-shadow: 0px 5px 80px #000000;
	outline: none;
	box-sizing: border-box;
}
.btn-cancel{
	width: 100%;
	border-radius: 10px;
	border: none;
	padding: 10px 10px;
	background-color: #00ff88;
	position: relative;
	top: -10px;
	cursor: pointer;
}
.btn-send{
	width: 100%;
	border-radius: 10px;
	border: none;
	padding: 10px 10px;
	background-color: #00ff88;
	position: relative;
	top: 15px;
	cursor: pointer;
}
.text-info-modal{
	color: #ffffff;
}
.modal-title{
	color: #00ff88;
	font-size: large;
}
.modal-footer{
	height: 20vh;
	
}
.close{
	color: #00ff88;
	position: relative;
	left: -10px;
	border: none;
	border-radius: 20px;
	background-color: #00ff88;
	cursor: pointer;
}




/** Mídias de Responsividade **/
@media only screen and (max-width: 1000px){
	.login-card{
		width: 80%;
	}
}

@media only screen and (max-width: 600px){
	.main-login{
		flex-direction: column;
	}

	.login-left{
		width: 100%;
		height: auto;
	}

	.login-right{
		width: 100%;
		height: auto;
	}

	.imagem-login{
		width: 50%;
		display: flex;
	}
	
	.login-card{
		width: 80%;
		box-sizing: border-box;
	}
}

@media screen and (min-width: 480px) {
	.imagem-logo {width: 200px; float: auto; display: flex;}
	.imagem-login {float: left;}
	.logo > h1{float: auto;  }
  }

@media screen and (max-width: 480px) {
	.imagem-logo {width: 200px; float: auto; display: flex;} 
}

@media screen and (max-width: 400px) {
	.imagem-logo {width: 150px; float: auto; display: flex;} 
}

@media screen and (max-width: 600px) {
	.imagem-logo {display: flex; position: relative; left: 0px;}
	.imagem-login {display: none;}
	.logo > h1{display: none;}
}  

/* Logo e Título da Logo some quando a tela for menor do que 1000px */
@media screen and (max-width: 1000px){
	.imagem-logo {display: none; position: relative; left: 0px;}
	.logo > h1{display: none; width: auto; height: auto;}
}

/* Título da logo some e a imagem da logo centralizada encima do formulário em telas menores do que 600px */
@media screen and (max-width: 600px){
	.imagem-logo {display: flex; position: relative; left: 0px;}
	.logo > h1{display: none; width: auto; height: auto;}
}



 