body {
    background-color: rgba(32, 27, 44, 1);
    font-family: Karma;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

/* Página cadastro desaparecidos começa*/


.imagem-logo {
    float: auto;
    width: 150px;
    position: relative;
    top: -30px;
    background-color: #2f2841;
    border-radius: 100px;
    box-shadow: 100px 0px 100px #00000056;
    left: 50px;
    display: flex;

}

.p1>h1 {
    font-size: 25px;
    font-family: Karma;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    position: relative;
    top: 80px;
    left: 175px;
    background-color: #2f2841;
    width: 280px;
    border-radius: 30px;
    color: #00FF88;
    padding: 10px 10px;
    padding-left: 40px;
}

.barra {
    font-size: 25px;
}

.menu-encontrado {
    padding: 23px 23px;
}


.menor {
    font-size: 15px;
}

.titulo-caixa {
    color: #00FF88;
    background-color: #2F2841;
    border-radius: 25px;
    padding: 3px 5px 1px 5px;
    width: 650px;
    position: relative;
    left: 390px;
    top: 10px;
    font-size: 20px;
    box-shadow: 7px 7px #161220;

}

.caixa-central {
    background-color: #2F2841;
    border-radius: 15px;
    padding: 0px 15px 0px 15px;
    margin: 50px;
    box-shadow: 15px 15px #161220;
    height: 700px;
    position: relative;
    top: -50px;
}

.nome-desaparecido>label {
    font-size: 18px;
    position: relative;
    top: -15px;
    left: 34px;
}
.nome-desaparecido>input {
    width: 80%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #2F2841;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 5px 80px #000000;
    outline: none;
    box-sizing: border-box;
    position: relative;
    top: -5px;
    left: 27px;
}


.label1 {
    font-size: 18px;
    position: relative;
    top: -45px;
    left: -325px;
}
.input1 {
    width: 100px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #2F2841;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 5px 80px #000000;
    outline: none;
    box-sizing: border-box;
    position: relative;
    top: -9px;
    left: -380px;
}

.label2 {
    font-size: 18px;
    position: relative;
    top: -45px;
    left: -355px;
}
.input2 {
    width: 130px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #2F2841;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 5px 80px #000000;
    outline: none;
    box-sizing: border-box;
    position: relative;
    top: -9px;
    left: -405px;
}

.label3 {
    font-size: 18px;
    position: relative;
    top: -45px;
    left: -380px;
}
.input3 {
    width: 130px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #2F2841;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 5px 80px #000000;
    outline: none;
    box-sizing: border-box;
    position: relative;
    top: -9px;
    left: -460px;
}

.label4 {
    font-size: 18px;
    position: relative;
    top: -45px;
    left: -440px;
}
.input4 {
    width: 100px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #2F2841;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 5px 80px #000000;
    outline: none;
    box-sizing: border-box;
    position: relative;
    top: -9px;
    left: -500px;
}

.label5 {
    font-size: 18px;
    position: absolute;
    top: 450px;
    left: 100px;
}
#textarea-mais-informacoes {
    width: 90%;
    height: 200px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #2F2841;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 5px 80px #000000;
    position: relative;
    top: 26px;
    left: -50px;
    resize: none;

}

.mensagem-botao-foto {
    font-size: 18px;  
    position: relative;
    top: 0px;
    left: -135px;
}

#botao-foto {
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 10px;
    margin: 25px;
    padding: 8px;
    background-color: #00ff88;
    color: #000;
    font-size: 20px;
    font-weight: bolder;
    -webkit-text-stroke: 1px 1px 5px #000;
    position: relative;
    top: 55px;
    left: -645px;
}
#enviar-cadastro {
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 10px;
    margin: 25px;
    padding: 8px;
    background-color: #00ff88;
    color: #000;
    font-size: 20px;
    font-weight: bolder;
    -webkit-text-stroke: 1px 1px 5px #000;
    position: relative;
    top: 160px;
    left: -515px;



}

/* Página cadastro desaparecidos termina aqui*/

a {
    font-family: Karma;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

h1,
h2,
h3,
h4 {
    text-shadow:
        -1.8px -1.8px #000,
        /*esquerda - pra cima*/
        -1.8px 1.8px #000,
        /*esquerda - pra baixo*/
        1.8px -1.8px #000,
        /*direita - pra cima*/
        1.8px 1.8px 15px #000;
    /*direita - pra baixo*/
    font-weight: bolder;
    text-align: center;
}

h5 {
    text-shadow:
        -1.8px -1.8px #000,
        /*esquerda - pra cima*/
        -1.8px 1.8px #000,
        /*esquerda - pra baixo*/
        1.8px -1.8px #000,
        /*direita - pra cima*/
        1.8px 1.8px 15px #000;
    /*direita - pra baixo*/
    text-align: center;
    color: #00FF88;
    font-weight: bolder;
    text-align: center;
}

button {
    border: none;
    border-radius: 10px;
    margin: 25px;
    padding: 8px;
    background-color: #00ff88;
    color: #000;
    font-size: 20px;
    font-weight: bolder;
    -webkit-text-stroke: 1px 1px 5px #000;
}

.container-fluid {
    position: absolute;
    width: 911px;
    height: 111px;
    left: 465px;
    top: 65px;
    background: linear-gradient(270deg, #2F2841 0%, rgba(47, 40, 65, 0) 100%);
    border-radius: 20px;
}

/* Modelo 1 */
.textfield {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 10px 10px 20px;
}

.textfield>input {
    /* width: 100%; */
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #2F2841;
    color: #ffffff;
    font-size: 12px;
    box-shadow: 0px 5px 80px #000000;
    outline: none;
    box-sizing: border-box;
}

/* .textfield > label{
	color: #ffffff;
	margin-bottom: 10px;
}

.textfield > input::placeholder{
	color: #ffffff;
} */

/* Modelo 2 */
.section-content {
    background-color: #2F2841;
    border-radius: 15px;
    padding: 0px 15px 0px 15px;
    margin: 50px;
    box-shadow: 15px 15px #161220;
}

.div-content {
    padding: 15px;
}

.col-content {
    background-color: #514869;
    color: #ffffff;
    margin: 10px;
    height: 100%;
    border-radius: 15px;
    padding-bottom: 60%;
    margin-bottom: 15px;
}